.form-transition {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}

.form-transition-visible {
    opacity: 1;
    transform: translateY(0);
}

.mud-fixed {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
}

.group-card {
    border-radius: 16px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .mobile-padding {
        padding: 8px;
    }

    .group-card {
        border-radius: 80px!important;
        margin: 8px 0;
    }

    .fab-button {
        bottom: 16px !important;
        right: 16px !important;
        width: 56px;
        height: 56px;
    }
}
